In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [3]:
# lectura de archivo y lo convierte en un DF
df_alojamientos = pd.read_csv(r"C:\Users\Usuario\Desktop\Adalab Proyecto Airbnb\listings.csv")
df_alojamientos.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5269,Upcountry Hospitality in the 'Auwai Suite,7620,Lea & Pat,Hawaii,South Kohala,20.02740,-155.70200,Entire home/apt,136.0,3,45,2025-07-15,0.26,3,279,7,119-269-5808-01R
1,5387,Hale Koa Studio & 1 Bedroom Units!!,7878,Edward,Hawaii,South Kona,19.43081,-155.88069,Entire home/apt,122.0,5,235,2025-08-21,1.24,2,225,11,TA-163-133-0304-01
2,5480,Isle Of You Naturally Farm Retreat,8145,Normand,Hawaii,Puna,19.44149,-154.91527,Private room,117.0,2,0,NaN,NaN,3,365,0,NaN
3,7896,"Maui Sunset Condo Beachfront Resort, Kihei/Wailea",21844,Caroline,Maui,Kihei-Makena,20.75684,-156.45631,Entire home/apt,150.0,4,96,2025-06-23,0.53,1,260,14,"390010020007, TA-169-914-3680-01"
4,13238,Studio On Princeville Golf Course / Paniolo Condo,51647,Annie/Greg,Kauai,North Shore Kauai,22.21844,-159.47090,Entire home/apt,149.0,3,193,2025-09-02,1.43,2,268,13,"540050030025, TA-095-127-9616-01"

In [4]:
df_alojamientos.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [5]:
# 1.1. ¿Cuántos alojamientos únicos contiene el dataset? (cuenta ID únicos, ignora los duplicados)
df_alojamientos['id'].nunique()

33457

In [6]:
# 1.2. ¿Qué tipos de alojamiento existen y cuál es el más común?
# Tipos
tipos_alojamientos = df_alojamientos['room_type'].unique()
tipos_alojamientos

array(['Entire home/apt', 'Private room', 'Shared room', 'Hotel room'],
      dtype=object)

In [7]:
# Alojamiento más común 

numero_alojamientos = df_alojamientos['room_type'].value_counts() # cuántas veces aparece cada tipo
numero_alojamientos

room_type
Entire home/apt    30551
Private room        2639
Hotel room           234
Shared room           33
Name: count, dtype: int64

In [8]:
# 1.3. ¿Cómo se distribuyen los alojamientos por barrio o zona?

alojamientos_barrio = df_alojamientos['neighbourhood'].value_counts()
alojamientos_barrio

neighbourhood
Primary Urban Center     6711
Lahaina                  5254
Kihei-Makena             4459
North Kona               3721
North Shore Kauai        2329
South Kohala             1942
Koloa-Poipu              1654
Puna                     1206
Kapaa-Wailua              847
Ewa                       827
Lihue                     771
Koolauloa                 581
South Hilo                553
Koolaupoko                409
North Shore Oahu          311
Waianae                   310
South Kona                263
Paia-Haiku                202
Molokai                   185
Kau                       183
East Honolulu             174
Wailuku-Kahului           118
North Kohala              107
Hana                       79
North Hilo                 64
Hamakua                    62
Makawao-Pukalani-Kula      61
Central Oahu               44
Waimea-Kekaha              22
Lanai                       8
Name: count, dtype: int64

In [9]:
# 1.4. ¿Existen barrios con una concentración especialmente alta de alojamientos?

porcentaje_alojamiento_barrio = df_alojamientos['neighbourhood'].value_counts(normalize=True) * 100
porcentaje_alojamiento_barrio

neighbourhood
Primary Urban Center     20.058583
Lahaina                  15.703739
Kihei-Makena             13.327555
North Kona               11.121738
North Shore Kauai         6.961174
South Kohala              5.804465
Koloa-Poipu               4.943659
Puna                      3.604627
Kapaa-Wailua              2.531608
Ewa                       2.471830
Lihue                     2.304450
Koolauloa                 1.736557
South Hilo                1.652868
Koolaupoko                1.222465
North Shore Oahu          0.929551
Waianae                   0.926562
South Kona                0.786084
Paia-Haiku                0.603760
Molokai                   0.552949
Kau                       0.546971
East Honolulu             0.520071
Wailuku-Kahului           0.352692
North Kohala              0.319813
Hana                      0.236124
North Hilo                0.191290
Hamakua                   0.185312
Makawao-Pukalani-Kula     0.182324
Central Oahu              0.131512
Waimea-Kekaha             0.065756
Lanai                     0.023911
Name: proportion, dtype: float64

In [10]:
# 1.5. ¿Qué variables presentan valores nulos y en qué proporción?
# columnas
columnas_nulos = df_alojamientos.isnull().sum()
columnas_nulos

id                                   0
name                                 0
host_id                              0
host_name                            2
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              325
minimum_nights                       0
number_of_reviews                    0
last_review                       6726
reviews_per_month                 6726
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           5770
dtype: int64

In [11]:
# proporción
proporcion_nulos = df_alojamientos.isnull().mean() * 100
proporcion_nulos

id                                 0.000000
name                               0.000000
host_id                            0.000000
host_name                          0.005978
neighbourhood_group                0.000000
neighbourhood                      0.000000
latitude                           0.000000
longitude                          0.000000
room_type                          0.000000
price                              0.971396
minimum_nights                     0.000000
number_of_reviews                  0.000000
last_review                       20.103416
reviews_per_month                 20.103416
calculated_host_listings_count     0.000000
availability_365                   0.000000
number_of_reviews_ltm              0.000000
license                           17.246017
dtype: float64

In [12]:
# 1.6. ¿Hay columnas cuyo contenido no aporta valor al análisis y podrían eliminarse?
# neighbourhood_group, latitude, longitude, last_review, review_per_month

In [13]:
# 1.7. ¿Existen valores atípicos en el precio de los alojamientos? 

variables_numericas = df_alojamientos.select_dtypes(include='number').columns

# Outliers para 'price'

Q1 = df_alojamientos['price'].quantile(0.25)
Q3 = df_alojamientos['price'].quantile(0.75)
IQR = Q3 - Q1

outliers = df_alojamientos[(df_alojamientos['price'] < Q1 - 1.5*IQR) | (df_alojamientos['price'] > Q3 + 1.5*IQR)]

print(len(outliers),"outliers")

3796 outliers

In [14]:
# ¿Cómo afectan a la media?

media = df_alojamientos['price'].mean()
mediana = df_alojamientos['price'].median()

print(media, "media")
print(mediana, "mediana")

print("Los outliers inflan la media, se ve afectada por los precios muy altos, mientras que la mediana no se ve afectada,\nmuestra mejor el precio tipico de los alojamieintos")

945.4945068212 media
233.0 mediana
Los outliers inflan la media, se ve afectada por los precios muy altos, mientras que la mediana no se ve afectada,
muestra mejor el precio tipico de los alojamieintos

In [15]:
# FASE 2

# nulos: host_name, price, last_review, reviews_per_month, license
df_alojamientos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33457 entries, 0 to 33456
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              33457 non-null  int64
 1   name                            33457 non-null  object
 2   host_id                         33457 non-null  int64
 3   host_name                       33455 non-null  object
 4   neighbourhood_group             33457 non-null  object
 5   neighbourhood                   33457 non-null  object
 6   latitude                        33457 non-null  float64
 7   longitude                       33457 non-null  float64
 8   room_type                       33457 non-null  object
 9   price                           33132 non-null  float64
 10  minimum_nights                  33457 non-null  int64
 11  number_of_reviews               33457 non-null  int64
 12  last_review                     26731 non-null  object
 13  reviews_per_month               26731 non-null  float64
 14  calculated_host_listings_count  33457 non-null  int64
 15  availability_365                33457 non-null  int64
 16  number_of_reviews_ltm           33457 non-null  int64
 17  license                         27687 non-null  object
dtypes: float64(4), int64(7), object(7)
memory usage: 4.6+ MB

In [16]:
# nulos por columna

df_alojamientos.isna().sum()

id                                   0
name                                 0
host_id                              0
host_name                            2
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              325
minimum_nights                       0
number_of_reviews                    0
last_review                       6726
reviews_per_month                 6726
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           5770
dtype: int64

In [17]:
# Sustituyo los nulos por Unknown
df_alojamientos['host_name'] = df_alojamientos['host_name'].fillna('Unknown')

In [18]:
# eliminación de columnas
df_alojamientos = df_alojamientos.drop(columns=['last_review', 'reviews_per_month', 'latitude', 'longitude', 'neighbourhood_group'])

In [19]:
# eliminar filas nulas en Price
df_alojamientos = df_alojamientos.dropna(subset=['price'])

In [20]:
# compruebo los nulos (mantengo los nulos en license)
df_alojamientos.isnull().any()

id                                False
name                              False
host_id                           False
host_name                         False
neighbourhood                     False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
calculated_host_listings_count    False
availability_365                  False
number_of_reviews_ltm             False
license                            True
dtype: bool

In [ ]:
# No hay filas duplicadas
df_alojamientos.duplicated().sum()

np.int64(0)

In [23]:
df_alojamientos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33132 entries, 0 to 33456
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              33132 non-null  int64
 1   name                            33132 non-null  object
 2   host_id                         33132 non-null  int64
 3   host_name                       33132 non-null  object
 4   neighbourhood                   33132 non-null  object
 5   room_type                       33132 non-null  object
 6   price                           33132 non-null  float64
 7   minimum_nights                  33132 non-null  int64
 8   number_of_reviews               33132 non-null  int64
 9   calculated_host_listings_count  33132 non-null  int64
 10  availability_365                33132 non-null  int64
 11  number_of_reviews_ltm           33132 non-null  int64
 12  license                         27394 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 3.5+ MB

In [ ]:
# cambiar tipo de dato de columnas: id/host_id --> object 
# Convertir id y host_id a tipo object (categórico)

df_alojamientos['id'] = df_alojamientos['id'].astype(object)
df_alojamientos['host_id'] = df_alojamientos['host_id'].astype(object)

In [25]:
df_alojamientos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33132 entries, 0 to 33456
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              33132 non-null  object
 1   name                            33132 non-null  object
 2   host_id                         33132 non-null  object
 3   host_name                       33132 non-null  object
 4   neighbourhood                   33132 non-null  object
 5   room_type                       33132 non-null  object
 6   price                           33132 non-null  float64
 7   minimum_nights                  33132 non-null  int64
 8   number_of_reviews               33132 non-null  int64
 9   calculated_host_listings_count  33132 non-null  int64
 10  availability_365                33132 non-null  int64
 11  number_of_reviews_ltm           33132 non-null  int64
 12  license                         27394 non-null  object
dtypes: float64(1), int64(5), object(7)
memory usage: 3.5+ MB

In [ ]:
# Limpieza simbolos o caracteres especiales

# Revisar los primeros valores de varias columnas
for i in ['price', 'minimum_nights', 'host_name', 'name', 'license']:
    print(i)
    print(df_alojamientos[i].head(10))
    print('---')

# price y minimum_nights está ok

price
0    136.0
1    122.0
2    117.0
3    150.0
4    149.0
5    275.0
6    279.0
7    124.0
8    165.0
9    311.0
Name: price, dtype: float64
---
minimum_nights
0    3
1    5
2    2
3    4
4    3
5    1
6    2
7    2
8    5
9    7
Name: minimum_nights, dtype: int64
---
host_name
0     Lea & Pat
1        Edward
2       Normand
3      Caroline
4    Annie/Greg
5          Lisa
6    Janet Lynn
7        Donald
8          Mary
9        Dennis
Name: host_name, dtype: object
---
name
0            Upcountry Hospitality in the 'Auwai Suite
1                  Hale Koa Studio & 1 Bedroom Units!!
2                   Isle Of You Naturally Farm Retreat
3    Maui Sunset Condo Beachfront Resort, Kihei/Wailea
4    Studio On Princeville Golf Course / Paniolo Condo
5                      2BR Pacific Shores by the Beach
6      Oceanfront Bali House w/ Hot tub @ Kehena Beach
7                  Luana Kai Oceanfront Condo by Owner
8       Very Close to Alii Drive and Magic Sands Beach
9    Ocean Front View Condo Kaanapali Beach Hilton ...
Name: name, dtype: object
---
license
0                    119-269-5808-01R
1                  TA-163-133-0304-01
2                                 NaN
3    390010020007, TA-169-914-3680-01
4    540050030025, TA-095-127-9616-01
5    390180020064, TA-103-659-7248-01
6                TAGE 176-619-3665-01
7    390010060078, TA-188-987-8016-01
8                  TA-140-150-3744-01
9    440010980014, TA-535-421-3510-12
Name: license, dtype: object
---

In [ ]:
# eliminamos espacios al inicio y unificar a minúsculas

columnas_categoricas = ['room_type', 'neighbourhood', 'host_name', 'license', 'name']

for i in columnas_categoricas:
    df_alojamientos[i] = df_alojamientos[i].str.strip().str.lower()